# Import Library

In [1]:
import numpy
from scipy.stats import entropy
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plotLib
import pandas as pd
import pprint

# Preparing Dataset

## Load Dataset from xls

In [2]:
df = pd.read_excel("../sources/dataset-wellbeing.xlsx")
df

     EXPENSE    SALARY RELATIONSHIP  WORKTIME WELLBEING
0        low      high      married    normal       yes
1        low      high      married  overtime       yes
2   moderate      high      married  overtime       yes
3       high      high      married  overtime       yes
4       high       low       single  overtime       yes
5   moderate       low       single  overtime        no
6        low  moderate      married  overtime       yes
7        low       low       single  overtime        no
8       high  moderate       single  overtime        no
9        low  moderate       single  overtime        no
10  moderate  moderate      married  overtime       yes
11  moderate      high       single  overtime        no
12      high  moderate      married  overtime       yes

## Get Input Attributes

In [3]:
selectedInput = ['EXPENSE', 'SALARY', 'RELATIONSHIP', 'WORKTIME']
inputAttributes = df[selectedInput]

## Get Input Attributes' values

In [4]:
expenseValues = inputAttributes.EXPENSE.unique()
salaryValues = inputAttributes.SALARY.unique()
relationshipValues = inputAttributes.RELATIONSHIP.unique()
worktimeValues = inputAttributes.WORKTIME.unique()

print(expenseValues)
print(salaryValues)
print(relationshipValues)
print(worktimeValues)

['low' 'moderate' 'high']
['high' 'low' 'moderate']
['married' 'single']
['normal' 'overtime']

## Get target attributes

In [5]:
selectedTarget = ['WELLBEING']
targetAttribute = df[selectedTarget]

## Get target attributes' values

In [6]:
targetValues = targetAttribute.WELLBEING.unique()
print(targetValues)

['yes' 'no']

## Count Instances and Target Distribution

In [7]:
targetDataFrame = df['WELLBEING'].value_counts()
totalInstance = df['WELLBEING'].value_counts().sum()
print(targetDataFrame)

yes    8
no     5
Name: WELLBEING, dtype: int64

## Loop each attribute and loop each value

In [8]:
for attribute in selectedInput:
    print("Attribute: ", attribute)
    attributeValues = df[attribute].unique()
    #
    sumEntropy = 0
    sumGini = 0
    for value in attributeValues:
        subDataFrame = df.loc[df[attribute]==value]
        sumDataFrame = subDataFrame[selectedTarget].value_counts().sum()
        #
        print("Value: ", value, " , Total: ", sumDataFrame, " of ", totalInstance, " Instances")
        print(subDataFrame[selectedTarget].value_counts().to_frame())
        #
        totalIndex = subDataFrame[selectedTarget].value_counts().count()
        p = subDataFrame[selectedTarget].value_counts()[0]/sumDataFrame
        if(totalIndex == 1):
            q = 0
        else:
            q = subDataFrame[selectedTarget].value_counts()[1]/sumDataFrame
        #
        valueEntropy = (sumDataFrame/totalInstance)*(entropy([p,q], base=2))
        sumEntropy += valueEntropy

Attribute:  EXPENSE
Value:  low  , Total:  5  of  13  Instances
           0
WELLBEING
yes        3
no         2
Value:  moderate  , Total:  4  of  13  Instances
           0
WELLBEING
yes        2
no         2
Value:  high  , Total:  4  of  13  Instances
           0
WELLBEING
yes        3
no         1
Attribute:  SALARY
Value:  high  , Total:  5  of  13  Instances
           0
WELLBEING
yes        4
no         1
Value:  low  , Total:  3  of  13  Instances
           0
WELLBEING
no         2
yes        1
Value:  moderate  , Total:  5  of  13  Instances
           0
WELLBEING
yes        3
no         2
Attribute:  RELATIONSHIP
Value:  married  , Total:  7  of  13  Instances
           0
WELLBEING
yes        7
Value:  single  , Total:  6  of  13  Instances
           0
WELLBEING
no         5
yes        1
Attribute:  WORKTIME
Value:  normal  , Total:  1  of  13  Instances
           0
WELLBEING
yes        1
Value:  overtime  , Total:  12  of  13  Instances
           0
WELLBEING
yes        7
no         5