No 13. Linear Regression

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the model
from sklearn.linear_model import LinearRegression

# Importing the model selection
from sklearn.model_selection import train_test_split

# Importing the metrics
from sklearn import metrics

In [2]:
url = "https://raw.githubusercontent.com/twiradinata/IMT1025-Statistical-Analysis/master/real_estate_price_size_year.csv"
df = pd.read_csv(url)
print(df.head())
print(df.info())

     price     size  age  location_rating
0  234.314   643.09    5               20
1  228.582   656.22   11               30
2  281.626   487.29    2               10
3  401.256  1504.75    5               30
4  458.674  1275.46   11               60
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            100 non-null    float64
 1   size             100 non-null    float64
 2   age              100 non-null    int64
 3   location_rating  100 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 3.2 KB
None

In [9]:
y = df.iloc[:, 1].values
X = df.iloc[:, 1:].values

In [10]:
# Splitting train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Defining LR model
linearreg_model = LinearRegression()

# Fitting the model to the training
linearreg_model.fit(X_train, y_train)
print("Intercept: ", linearreg_model.intercept_)
print("Coefficient: ", linearreg_model.coef_)

# Displaying regression summary
import statsmodels.formula.api as smf
lm = smf.ols(formula='price ~ size+age+location_rating', data=df).fit()
print("Summary: ", lm.summary())

# Making prediction based on the testing unit
y_predict = linearreg_model.predict(X_test)

# Prediction Score
print("Model Score: ", linearreg_model.score(X_test, y_test))


# Calculating the RMSE (root_mean_squared_error) number
print("RMSE number is: ", np.sqrt(metrics.mean_squared_error(y_test, y_predict)))

Intercept:  2.2737367544323206e-13
Coefficient:  [ 1.00000000e+00 -5.45203321e-15  1.03747460e-15]
Summary:                              OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.848
Model:                            OLS   Adj. R-squared:                  0.843
Method:                 Least Squares   F-statistic:                     178.7
Date:                Tue, 01 Dec 2020   Prob (F-statistic):           3.71e-39
Time:                        12:47:26   Log-Likelihood:                -481.60
No. Observations:                 100   AIC:                             971.2
Df Residuals:                      96   BIC:                             981.6
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         159.9364     11.737     13.626      0.000     136.638     183.235
size                0.1531      0.015     10.104      0.000       0.123       0.183
age               -12.8826      1.617     -7.966      0.000     -16.093      -9.672
location_rating     3.6637      0.544      6.732      0.000       2.583       4.744
==============================================================================
Omnibus:                        1.066   Durbin-Watson:                   2.149
Prob(Omnibus):                  0.587   Jarque-Bera (JB):                0.970
Skew:                           0.238   Prob(JB):                        0.616
Kurtosis:                       2.922   Cond. No.                     3.49e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.49e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
Model Score:  1.0
RMSE number is:  2.2277979431084332e-13

In [14]:
print(159.9364 + 0.1531*500 + -12.8826*15 + 3.6637*20)

116.5214

No. 14 Naive Bayes

In [29]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score

In [17]:
# Read dataset
url = url = "https://raw.githubusercontent.com/twiradinata/ISB2017-applied-data-science/master/artis.csv"
df = pd.read_csv(url)
df.head()

   Usia Artis  Pengalaman  Rating      Kota Datang
0          36          10       9  Surabaya  Tidak
1          42          12       4    Gresik  Tidak
2          23           4       6  Sidoarjo  Tidak
3          52           4       4    Gresik  Tidak
4          43          21       8    Gresik     Ya

In [22]:
le = LabelEncoder()
df['Kota'] = le.fit_transform(df['Kota'])
df['Datang'] = le.fit_transform(df['Datang'])
df.head()

   Usia Artis  Pengalaman  Rating  Kota  Datang
0          36          10       9     2       0
1          42          12       4     0       0
2          23           4       6     1       0
3          52           4       4     0       0
4          43          21       8     0       1

In [23]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

classifier = GaussianNB()
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

print(classifier.predict(sc.transform([[40, 10, 7, 2]])))

[1]

In [ ]:
sc = StandardScaler()
dfs = StandardScaler().fit_transform(df)

wcss = []
for i in range (1,11):
    km = KMeans(n_clusters= i,
                n_init=5,  # run 5 times with different random inicial centroids
                max_iter=500,  # max iteration by run
                random_state=1)
    km.fit(dfs)
    wcss.append(km.inertia_)  # inertia = within-cluster sum-of-squares (WCSS) 

plt.plot(range(1,11), wcss, marker='o')
plt.xlabel('Number of Clusters')
plt.ylabel('WCSS')
plt.show()

km_model = KMeans(n_clusters=5, n_init=5, max_iter= 500, random_state=1)

y_kmeans = km_model.fit_predict(dfs)