<h1>ISB2017 Applied Data Science<h1>

---


***Classroom Exercise Week 2: Python Basics***

<h3 align=center>Python Data Types</h3>

Python adalah bahasa pemrograman berorientasi objek. Ada banyak jenis objek dalam Python. Mari kita mulai dengan jenis objek yang paling umum: integer,  float, dan string. Setiap kali Anda menulis kata-kata (teks) dengan Python, Anda menggunakan string karakter (singkatnya string). Angka yang paling umum adalah integer atau bilangan bulat (misalnya: -1, 0, 100) dan float yang merupakan bilangan pecahan (misalnya: 3.14, -42.0). Berikut adalah contoh lebih lanjut, silahkan tekan <code>shift+enter</code> untuk menjalankan.

In [1]:
# Integer

11

11

In [2]:
# Float

2.14

2.14

In [3]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

Python dapat memberi tahu Anda tipe data dengan menggunakan fungsi `type()`. Python menampilkan bilangan bulat sebagai `int`, pecahan sebagai `float`, dan string karakter sebagai `str`.

In [4]:
# Type of 12

type(12)

int

In [5]:
# Type of 2.14

type(2.14)

float

In [6]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

Gunakan fungsi `type()` untuk mengenali tipe data dari variabel `hasil` yang merupakan penjumlahan dari `3 + 2.5`.

In [7]:
type(3+2.5)

float

<h3 id="convert">Melakukan konversi tipe data</h3>

<p> Anda dapat mengubah jenis tipe data pada Python. Proses ini disebut typecasting. Misalnya, Anda dapat mengubah `int` menjadi `float` (misalnya: 2 menjadi 2.0).</p>
<p>Mari kita coba:</p>

In [8]:
# Verify that this is an integer

type(2)

int

In [9]:
# Convert 2 to a float

float(2)

2.0

In [10]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [11]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [12]:
# Convert a string into an integer

int("1")

1

In [13]:
# Convert a string into an integer with error

int("1 or 2 people")

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [14]:
# Convert the string "1.2" into a float

float("1.2")

1.2

In [15]:
# Convert an integer to a string

str(1)

'1'

In [16]:
# Convert a float to a string

str(1.2)

'1.2'

In [17]:
# Boolean data type
# Value true

True

True

In [18]:
# Boolean data type
# Value false

False

False

In [19]:
# Type of True

type(True)

bool

In [20]:
# Type of False

type(False)

bool

In [21]:
# Convert True to int

int(True)

1

In [22]:
# Convert 1 to boolean

bool(1)

True

In [23]:
# Convert 0 to boolean

bool(0)

False

In [24]:
# Convert True to float

float(True)

1.0

<h4>Kerjakan latihan soal berikut ini</h4>

Sebutkan tipe data yang dihasilkan dari: 6 / 2

In [28]:
type(6/3)

float

Sebutkan tipe data yang dihasilkan dari: 6 // 2 (Perhatikan tanda double slash)

In [27]:
type(6//3)

int

<h3 align=center>Expressions and Variables</h3>

Ekspresi dalam Python dapat mencakup operasi antara tipe data yang sesuai (misalnya: antara integer dan float). Perhatikan contoh operasi aritmatika dasar seperti dibawah ini:

In [29]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [30]:
# Subtraction operation expression

50 - 60

-10

In [31]:
# Multiplication operation expression

5 * 5

25

In [32]:
# Division operation expression

25 / 5

5.0

In [33]:
# Division operation expression

25 / 6

4.166666666666667

In [34]:
# Integer division operation expression

25 // 5

5

In [35]:
# Integer division operation expression

25 // 6

4

In [36]:
# Exponential operation expression

2 ** 8

256

<h4>Kerjakan latihan soal berikut ini</h4>

Penerbangan dari Surabaya ke Bangkok ditempuh dalam 264 menit. Berapa jam kah lamanya penerbangan ini?

In [10]:
jam = 264//60
menit = 264%60
print("penerbangan ini {0} jam lebih {1} menit".format(jam, menit))

penerbangan ini 4 jam lebih 24 menit

Python mengikuti konvensi matematika yang diterima dengan baik ketika mengevaluasi ekspresi matematika. Urutan operasi matematika dapat dilihat sebagai berikut:
<img src="https://miro.medium.com/max/1400/1*XCOKzXaTZVWkU-g7ZGdqKQ.png" alt="Operator Precedence" style="width:64px;height:64px;">

In [38]:
# Mathematical expression

30 + 2 * 60

150

In [39]:
# Mathematical expression

(30 + 2) * 60

1920

Sama seperti kebanyakan bahasa pemrograman, kita dapat menyimpan nilai dalam variabel, jadi kita bisa menggunakannya nanti. Sebagai contoh:

In [40]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [41]:
# Print out the value in variable

x

160

In [42]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [43]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

Sebuah kebiasaan yang baik untuk menggunakan nama variabel yang bermakna, sehingga Anda dan orang lain dapat membaca kode dan memahaminya dengan lebih mudah:

In [44]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [45]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

<h4>Kerjakan latihan soal berikut ini</h4>

Hitunglah nilai `x` dimana `x = 3 + 2 * 2`

In [46]:
x = 3+2*2
x

7

Hitunglah nilai `y` dimana `y = (3 + 2) * 2`

In [47]:
y=(3+2)*2
y

10

Hitunglah nilai `z` dimana `z = x + y`

In [49]:
z = x+y
z

17

<h3 align=center>String Operations</h3>

Dalam Python, string adalah deretan karakter. String diketik dengan tanda kutip ganda atau tunggal. Akan sangat membantu untuk memahami string sebagai deretan karakter yang diurutkan.

In [ ]:
# Use quotation marks for defining string

"universitas ciputra"

In [ ]:
# Use single quotation marks for defining string

'universitas ciputra'

In [ ]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

In [ ]:
# Special characters in string

'@#2_#]&*^%$'

In [ ]:
# Print the string

print("hello!")

In [ ]:
# Assign string to variable

campus = "universitas ciputra
campus

In [ ]:
# Print the first element in the string

print(campus[0])

In [ ]:
# Print the element on index 6 in the string

print(campus[6])

In [ ]:
# Print the last element in the string

print(campus[-1])

In [ ]:
# Find the length of string

len(campus)

<h4>Memotong String</h4>
Kita dapat memperoleh beberapa karakter dari string menggunakan slicing, kita dapat memperoleh elemen 0 hingga 4 atau 8 hingga 12:

In [ ]:
# Take the slice on variable Name with only index 0 to index 3

campus[0:4]

In [ ]:
# Take the slice on variable Name with only index 8 to index 11

campus[8:12]

<h4>Striding String</h4>
Kita juga dapat mengambil elemen berdasarkan aturan tertentu, misalnya dengan tanda '2' yang menunjukkan bahwa kami memilih setiap elemen kedua.

In [ ]:
# Get every second element. The elements on index 0, 2, 4, ...

campus[::2]

In [ ]:
# Get every second element in the range from index 0 to index 4

campus[0:5:2]

In [ ]:
float("2.1") * 1

<h4>Additional Challenge (Optional)</h4>
<p>camelCase adalah kesepakatan penamaan variabel di mana setiap kata dalam kata majemuk menggunakan huruf besar kecuali untuk kata pertama. Software Developer sering menggunakan camelCase saat menulis variabel pada source code. Contoh camelCases adalah: myArray, getCommandException, dll. Tugas Anda adalah mengubah input String menjadi output camelCase.
<p>Contoh:

*   input: "Calculate Standard Deviation"
*   output: "calculateStandardDeviation"

In [9]:
def camelGen(aString):
    cracked = aString.split()
    output = ""
    for index, word in enumerate(cracked):
        if index==0:
            output += word.lower()
        else:
            output += word.title()
    return output
print(camelGen("I HAVE A DREAM"))

iHaveADream